.canvas {
    width: 500px;
    height: 600px;
    background-color: #feb823;
    overflow: hidden;
    filter: blur(1px);
  }
  
  .frame {
    border: 50px solid rgb(121, 1, 1);
    width: 500px;
    padding: 50px;
    margin: 0 auto;
  }
  
  .one {
    width: 425px;
    height: 150px;
    background-color: #ff4d00e1;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #ff4d00e1;
    border-radius: 9px;
    transform: rotate(-0.6deg);
  }
  
  .two {
    width: 475px;
    height: 200px;
    background-color: #ff9c9a;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #ff9c9a;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
  }
  .three {
    width: 480px;
    height: 50px;
    background-color: #cfcecd;
    margin: 0 auto 20px;
    border-radius: 8px 10px;
    box-shadow: 0 0 2px 2px #bebebe;
    position: fixed;
    top: 270px;
    right:1px;
    left: 1px;
    filter: blur(1px);
  }
   .four {
    width: 91%;
    height: 28%;
    background-color: #e5161a;
    margin: auto;
    box-shadow: 0 0 5px 5px #e5161a;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
  }